/* Asegurar que todos los elementos utilicen box-sizing: border-box */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
    font-size: large;
    overflow-x: hidden; /* Evitar desplazamiento lateral */
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #ececec;
}

.logo {
    border-radius: 50%;
    width: 80px;
    max-width: 100%;
    box-shadow: 3px 0px 30px 6px rgba(0, 0, 0, 0.621);
}

header {
    height: 40px;
}

.nav-list {
    display: flex;
    gap: 4rem;
    align-items: center;
    list-style-type: none;
}

.nav-list li {
    display: flex;
    white-space: nowrap;
    transition: 0.5s ease-in-out;
}

.nav-list li:hover {
    color: red;
    cursor: pointer;
}

.nav-list li a {
    text-decoration: none;
    color: black;
    transition: 0.5s ease-in-out;
}

.nav-list li a:hover {
    color: red;
}

.abrirmenu svg {
    display: none;
}

#cerrar {
    display: none;
}

@media screen and (max-width: 600px) {
    header {
        height: 100px;
    }
    .no-scroll {
        overflow: hidden;
        pointer-events: none;
    }
    
    .no-scroll .nav,
    .no-scroll #abrir,
    .no-scroll #cerrar {
        pointer-events: auto;
    }
    #cerrar, .abrirmenu svg {
        display: block;
    }
    li {
        min-width: 100px;
        transition: ease-in-out 0.5s;
    }
    .nav {
        display: flex;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        height: 140vh;
        background-color: rgb(0, 0, 0);
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.781);
        opacity: 0;
        visibility: hidden;    
        width: 40%;
        transform: translateX(100%);
        transition: 0.2s ease-in-out;
    }
    .nav.visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
    .nav-list {
        margin: 0;
        padding: 0;
        gap: 2rem;
        width: 100%;
        overflow: hidden; 
        flex-direction: column;
    }
    .nav-list li a {
        color: white;
        display: flex;
        transition: 0.5s ease-in-out;
    }
    .nav-list li a:hover {
        color: red;
    }
    #proyectos {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        background-color: black;
        height: 20rem;
    }
}

.modalContainer {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modalContainer .modal-content {
    background-color: rgb(186, 6, 6);
    margin: auto;
    padding: 25px;
    border: 1px solid purple;
    width: 60%;
}

.modalContainer .close {
    color: red;
    float: right;
    font-size: 26px;
    font-weight: bold;
}

.modalContainer .close:hover,
.modalContainer .close:focus {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

#checkbox {
    display: none;
}

.abrirmenu {
    margin-right: 30px;
    right: 0;
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#aboutme {
    border: 1px solid black;   
}

#aboutme img {
    mask-image: linear-gradient(black 90%, transparent);
}


